@model MvcApplication2.Models.Model_ServiceApp

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/User_LayoutPage1.cshtml";
}

<div class="theme-page">
    <div class="clearfix">

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <div id="contact-form" action="#" method="post" class="vc_row wpb_row vc_row-fluid padding-bottom-66 page-margin-top cost-calculator-container contact-form">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="wpb_wrapper">
                        <div class="vc_row wpb_row vc_inner vc_row-fluid page-margin-top">
                            <div class="wpb_column vc_column_container vc_col-sm-3">
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                <div class="wpb_wrapper">
                                    <div class="cost-calculator-box cost-calculator-contact clearfix">
                                        <div class="vc_row wpb_row vc_inner">
                                            <label>Service</label>
                                        </div>
                                        <div class="vc_row wpb_row vc_inner margin-top-20">
                                            <div class="block">
                                                
                                                 <label>Appointment Date</label>
                                                @Html.TextBoxFor(model => model.Appointment_Date, new { @class = "text_input",@type="date" })
                                                @Html.ValidationMessageFor(model => model.Appointment_Date)
                                            </div>
                                          </div>

                                         
                                         <div class="vc_row wpb_row vc_inner margin-top-20">
                                            <div class="block">
                                                
                                                 <label>Problem</label>
                                                @Html.TextBoxFor(model => model.Problem, new { @class = "text_input" })
                                                @Html.ValidationMessageFor(model => model.Problem)
                                            </div>
                                          </div>

                                        <div class="vc_row wpb_row vc_inner margin-top-20">
                                            <div class="block">
                                                
                                                 <label>Model of the Car</label>
                                                @Html.TextBoxFor(model => model.CarModel, new { @class = "text_input" })
                                                @Html.ValidationMessageFor(model => model.CarModel)
                                            </div>
                                          </div>

                                       
                                         <div class="vc_row wpb_row vc_inner margin-top-20">
                                         <div class="block">
                                                <label>Select branch</label>
                                                @Html.DropDownListFor(model => model.Branch_Id,(IEnumerable<SelectListItem>)ViewBag.branchid,"--Select--", new { @class="text_input"})
            @Html.ValidationMessageFor(model => model.Branch_Id)
	                                                    
                                            </div>
                                             </div>

                                        <div class="vc_row wpb_row vc_inner margin-top-20">
                                        <div >
                                            <input type="hidden" name="action" value="theme_cost_calculator_form">
                                            <input type="hidden" name="type" value="appointment">
                                            <input type="submit"  class="more display-block submit-contact-form" style="width:100%" value="SUBMIT NOW" />
                                        </div>
                                            </div>
                                   
                                             </div>


                            </div>
                        </div>
                    </div>
                        
                </div>
            </div>
                </div>
        
        }
            </div>
            </div>



<div>
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
